
$base-bg-color: #283645;
$brand-pink-color: #d22856;
$secondary-bg-color: #f2f2f2;

$tablet-width: 660px;
$desktop-width: 960px;


$base-font-family: "Open Sans", Arial, sans-serif;
$base-line-height: 1.71428571; //24px / 14
$line-height-30-18: 1.6666666; //30px / 18
$line-height-30-14: 2.14285714; //30px / 14
$line-height-18-14: 1.28571428; //18px / 14
