.main-nav {
  width: 320px;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(img/bg-back-mobile@1x.jpg);
box-shadow: 0 0 5px red; //delete
  &--opened {
  background-color: $base-bg-color;
  }
}

.main-nav__header {
  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;

  .main-nav--closed & {
    padding-top: 22px; // падинги только самой шапки с пинк delete
    padding-bottom: 22px;
    border-bottom: 1px solid #000000; // !!! потом перенести на --opened
  }

  .main-nav--opened & {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.main-nav__logo {
  width: 74px;
  height: 23px;
}

.main-nav__logo-svg {
  width: 145px;
  margin-left: -34px;

}

.main-nav__toggle {
  font-size: 0;
}

.main-nav__list {
  border: 2px solid white;//delete
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  background-color: $base-bg-color; // перенести вверх
}

.site-list__item {
  /* display: none; //delete */

  padding-top: 15px;
  padding-bottom: 15px;

  border-top: 1px solid rgba(#ffffff, 0.15);
  border-bottom: 1px solid #000000;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77777778;
  text-transform: uppercase;

  &:not(&--active):hover {
    color: $brand-pink-color;
  }

  &:not(&--active):active {
    color: rgba($brand-pink-color, 0.3);
  }
}

.site-list__link {
  color: inherit;
  text-decoration: none;
}

.main-nav__header {
border: 2px solid yellow;//// TEMP
}


@media (min-width: $tablet-width) {
  .main-nav__header {
    height: 110px;

  }

  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__logo {
    background: pink;//// TEMP
  }

  .page-header__container {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: 960px;
    display: flex;
    justify-content: space-between;
  }

  .site_list {
    background: pink;//temp
    display: flex;
    justify-content: space-between;

    width: 700px;
  }
}
