.page-footer {
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
}

.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 35px;
  text-align: center;

  &:hover svg path {
    fill: $brand-pink-color;
  }

  &:active svg {
    opacity: 0.3;
  }

  & svg {
    height: 40px;
  }
}

.page-footer__social {
  margin-bottom: 35px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 180px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;

  border: 2px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border-color: $base-bg-color;
  }

  &:active {
    opacity: 0.1;
  }

  & svg {
    fill: $brand-pink-color;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  width: 130px;
  min-height: 40px;
}

.copyright__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  color: $base-bg-color;
}

.copyright__link {
  text-align: center;

  &:hover svg path {
    fill: $base-bg-color;
  }

  &:active {
    opacity: 0.3;
  }

  & svg {
    width: 40px;
    height: 40px;

    & path {
    fill: $brand-pink-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid yellow;//del
    width: 660px;
    height: 125px;
    margin: 0 auto;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 960px;
    height: 200px;
  }
}
